* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100dvh;
  background-image: url("https://images.unsplash.com/photo-1501236570302-906143a7c9f8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center; 
  margin: 0;
}
.dejay {
  top: 100px;
  font-size: 30px;
  color: orangered;
}

span {
  font-size: 80px;
  color: orangered;
}

.paragraph {
  margin: 95px;
  text-align: center;
  font-size: 40px;
  color: cyan;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.3);
}


.contact {
  margin-top: 150px;
  margin-left: 40px;
  background: rgb(24, 73, 163);
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  font-size: 30px;
  font-weight: 600;
  transition: background 0.5s ease-in;
}

.contact a {
  text-decoration: none;
  color: #fff;
}

.contact:hover {
  background: rgb(126, 150, 151);
}

