* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
  margin: 0px 20px;
  margin-top: 100px;
  font-size: 25px;
    }

.table caption{
  margin-top: 30px;
  background-color: #ffffff;
  margin-bottom:1rem;
  font-size: 2rem;
}

.table {
    margin: 0px 50px;
    margin-top: 50px;
    padding: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }

table {
width:100%;
font-family: arial, sans-serif;
font-size: 20px;
background-color: purple;
  }
      
th {
  margin-top: 15px;
  text-align: left;
  padding:10px; 
  border: 2px solid blue;           
    }
            
td {
   text-align:left;
    padding:10px;
    border: 2px solid blue; 
       }
            
tr:nth-child(odd) {
 background-color: #25d366;
}
      
td:hover {
  background-color: lime;
}

th:hover{
  background-color: #ffffff;
} 
